<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>63248095805-d38qheagnpj7852fu847i9518v8cubut.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.63248095805-d38qheagnpj7852fu847i9518v8cubut</string>
	<key>API_KEY</key>
	<string>AIzaSyCAvhpJds_dvUyumia5bl3HDLQSgnezOFs</string>
	<key>GCM_SENDER_ID</key>
	<string>63248095805</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.faifly.xDrip</string>
	<key>PROJECT_ID</key>
	<string>xdrip-57c75</string>
	<key>STORAGE_BUCKET</key>
	<string>xdrip-57c75.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:63248095805:ios:cc2ad956664d6db0b1a854</string>
	<key>DATABASE_URL</key>
	<string>https://xdrip-57c75.firebaseio.com</string>
</dict>
</plist>